body, button {
  font-size:  8vw;
}
button {
  background: black;
  color:  white;
  border: 0;
}
body {
  min-height: 100vh;
  margin:  0;
  padding:  0;
  display:  flex;
  justify-content: center;
  align-items: center;
}
body.begun {
  display:  block;
  background:  black;
  color:  white;
  padding:  1rem;
}
.begun button {
  display: none;
}
.dinner {
  color:  #f6ffff;
}
.and {
  color: #fffff6;
}
.drinks {
  color: #fff6ff;
}